<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--><html lang="en"> <!--<![endif]-->
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="description" content="Name of your web site">
    <meta name="author" content="Marketify">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Kevinluo201</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,500i,600,600i,700,700i,800&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!-- PRELOADER -->
    <div class="arlo_tm_preloader">
      <div class="spinner_wrap">
        <div class="spinner"></div>
      </div>
    </div>
    <!-- /PRELOADER -->

    <!-- WRAPPER ALL -->
    <div class="arlo_tm_all_wrap">
      <div class="wrapper_inner">

        <!-- Topbar -->
        <div class="arlo_tm_topbar">
          <div class="topbar_inner">
            <div class="container">
              <div class="topbar_in">
                <div class="logo">
                  <a href="#"><%= image_tag 'logo/mobile.png', alt: '' %></a>
                </div>
                <div class="trigger">
                  <a href="#">
                    <span class="menu">Menu</span>
                    <span class="close">Close</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="dropdown">
            <div class="container">
              <div class="dropdown_inner">
                <ul>
                  <li><a href="#home">Home</a></li>
                  <li><a href="#about">About</a></li>
                  <li><a href="#services">Services</a></li>
                  <li><a href="#portfolio">Portfolio</a></li>
                  <li><a href="#news">News</a></li>
                  <li><a href="#contact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- /Topbar -->

        <!-- LEFTPART -->
        <div class="arlo_tm_leftpart">
          <div class="inner">
            <div class="logo">
              <a class="dark" href="#"><%= image_tag 'logo/logo.png', alt: '' %></a>
              <a class="light" href="#"><%= image_tag 'logo/light.png',  alt: '' %></a>
            </div>
            <div class="menu scrollable">
              <ul>
                <li><a href="#home">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#services">Services</a></li>
                <li><a href="#portfolio">Portfolio</a></li>
                <li><a href="#news">News</a></li>
                <li><a href="#contact">Contact</a></li>
              </ul>
            </div>
            <div class="bottom">
              <div class="social">
                <ul>
                  <li><a href="#"><i class="xcon-facebook"></i></a></li>
                  <li><a href="#"><i class="xcon-twitter"></i></a></li>
                  <li><a href="#"><i class="xcon-linkedin"></i></a></li>
                  <li><a href="#"><i class="xcon-instagram"></i></a></li>
                  <li><a href="#"><i class="xcon-behance"></i></a></li>
                </ul>
              </div>
            </div>
            <div class="resize">
              <a href="#"><span></span></a>
            </div>
          </div>
        </div>
        <!-- /LEFTPART -->

        <!-- RIGHTPART -->
        <div class="arlo_tm_rightpart">
          <div class="rightpart_inner">

            <%= yield %>

            <!-- FOOTER -->
            <div class="arlo_tm_section">
              <div class="arlo_tm_footer">
                <div class="container">
                  <div class="footer_inner">
                    <div class="copyright wow fadeInUp" data-wow-duration="0.8s">
                      <p>Copyright &copy; 2019. Template has been designed by <a href="https://themeforest.net/user/marketify">Marketify</a></p>
                    </div>
                    <div class="top wow fadeInUp" data-wow-duration="0.8s" data-wow-delay="0.2s">
                      <span></span>
                      <a href="#"></a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /FOOTER -->

          </div>
        </div>
        <!-- /RIGHTPART -->

      </div>
    </div>
    <!-- / WRAPPER ALL -->
  </body>
</html>
